:root {
  --lg: 1200px;
  --md: 900px
}

html {
  background-color: #161513;
  scroll-behavior: smooth;
}

header button {
  padding: 0 20px !important;
}

.gradient {
  background: -webkit-linear-gradient(0deg, yellow, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}

.section-divider {
  width: 100%;
  height: 50px;
  background: -webkit-linear-gradient(0deg, yellow, red);
}

section {
  padding: 120px 80px;
  justify-content: center;
  max-width: var(--lg);
  margin: auto !important;
}

@media (width < 900px) {
  section {
    padding: 40px 60px;
  }
}

#skills svg {
  width: 50px;
}

.card-skill {
  transition: filter 0.3s ease !important;
}

.card-skill:hover {
  filter: blur(5px);
}

.container-card-project {
  transition: .3s;
}

.container-card-project:hover {
  .container-text-project {
    opacity: 1;
  }
}